{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <a><b>Сортировка:</b></a>
            <a href="?order=name">По имени</a>
            <a href="?order=price">По цене (по возрастанию)</a>
            <a href="?order=price&descending=True">По цене (по убыванию)</a>
            <p></p>
        </div>

        <div class="content">
            {% for phone in phones %}
                <h2><a href={{phone.slug}}>{{phone.name}}</a></h2>
                <h3><b>{{phone.price}} руб.</b></h3>
                <a href={{phone.slug}}><img href={{phone.slug}} src={{phone.image}}/></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}