{% extends "base.html" %}
{% load static %}

{% block title %}{{phone.name}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>{{phone.name}}</h1>
        </div>
        <div class="content">
            <img src={{phone.image}}>
            <h3><b>Цена: {{phone.price}} рублей</b></h3>
            <p>Дата выхода: {{phone.release_date}}</p>
            {% if phone.lte_exists == True %}
                <a>Поддержка LTE: Есть</a>
            {% else %}
                <a>Поддержка LTE: Нет</a>
            {% endif %}
            <p></p>
            <p><a href="/catalog">Назад к каталогу</a></p>
        </div>
    </div>
{% endblock %}